# Pandas

##### Pandas is one of the important tools in Machine Learning.
##### When working with tabular data, such as data stored in spreadsheets or databases, pandas is the right tool for you.
##### pandas will help you to explore, clean, and process your data. 
##### In pandas, a data table is called a DataFrame.
##### You can think of pandas as an extremely powerful version of Excel, with a lot more features.

In [1]:
import pandas as pd
import numpy as np
from numpy.random import randn

### DataFrames

##### We can think of a DataFrame as a bunch of Series objects put together to share the same index.
##### Two-dimensional, size-mutable, potentially heterogeneous tabular data.

In [2]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A -0.715736  0.216925  0.189175  0.346535
B  0.137751  0.211191  0.010864  1.281956
C  0.747632 -0.188069 -0.404232  0.766014
D  0.228245 -0.257900 -0.561054 -0.776097
E  0.382309  0.684328 -0.749057 -0.375627

### Indexing

In [3]:
df['X']

A    0.216925
B    0.211191
C   -0.188069
D   -0.257900
E    0.684328
Name: X, dtype: float64

In [4]:
df[['W','Y']]

          W         Y
A -0.715736  0.189175
B  0.137751  0.010864
C  0.747632 -0.404232
D  0.228245 -0.561054
E  0.382309 -0.749057

In [5]:
df.Y

A    0.189175
B    0.010864
C   -0.404232
D   -0.561054
E   -0.749057
Name: Y, dtype: float64

### Creating a new column:

In [6]:
df['new'] = df['W'] + df['Y']

In [7]:
df

          W         X         Y         Z       new
A -0.715736  0.216925  0.189175  0.346535 -0.526562
B  0.137751  0.211191  0.010864  1.281956  0.148615
C  0.747632 -0.188069 -0.404232  0.766014  0.343400
D  0.228245 -0.257900 -0.561054 -0.776097 -0.332809
E  0.382309  0.684328 -0.749057 -0.375627 -0.366748

### Removing Columns

In [8]:
df.drop('new',axis=1)

          W         X         Y         Z
A -0.715736  0.216925  0.189175  0.346535
B  0.137751  0.211191  0.010864  1.281956
C  0.747632 -0.188069 -0.404232  0.766014
D  0.228245 -0.257900 -0.561054 -0.776097
E  0.382309  0.684328 -0.749057 -0.375627

In [9]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A -0.715736  0.216925  0.189175  0.346535 -0.526562
B  0.137751  0.211191  0.010864  1.281956  0.148615
C  0.747632 -0.188069 -0.404232  0.766014  0.343400
D  0.228245 -0.257900 -0.561054 -0.776097 -0.332809
E  0.382309  0.684328 -0.749057 -0.375627 -0.366748

In [10]:
df.drop('new',axis=1,inplace=True)

In [11]:
df

          W         X         Y         Z
A -0.715736  0.216925  0.189175  0.346535
B  0.137751  0.211191  0.010864  1.281956
C  0.747632 -0.188069 -0.404232  0.766014
D  0.228245 -0.257900 -0.561054 -0.776097
E  0.382309  0.684328 -0.749057 -0.375627

In [12]:
new_df = df.drop('Z', axis='columns')
new_df

          W         X         Y
A -0.715736  0.216925  0.189175
B  0.137751  0.211191  0.010864
C  0.747632 -0.188069 -0.404232
D  0.228245 -0.257900 -0.561054
E  0.382309  0.684328 -0.749057

### Removing rows

In [13]:
df.drop('E',axis=0)

          W         X         Y         Z
A -0.715736  0.216925  0.189175  0.346535
B  0.137751  0.211191  0.010864  1.281956
C  0.747632 -0.188069 -0.404232  0.766014
D  0.228245 -0.257900 -0.561054 -0.776097

In [14]:
new_df = df.drop('A', axis='index')
new_df

          W         X         Y         Z
B  0.137751  0.211191  0.010864  1.281956
C  0.747632 -0.188069 -0.404232  0.766014
D  0.228245 -0.257900 -0.561054 -0.776097
E  0.382309  0.684328 -0.749057 -0.375627

### Selecting Rows

In [15]:
df.loc['A']

W   -0.715736
X    0.216925
Y    0.189175
Z    0.346535
Name: A, dtype: float64

Or select based on the position instead of label

In [16]:
df.iloc[0]

W   -0.715736
X    0.216925
Y    0.189175
Z    0.346535
Name: A, dtype: float64

### Selecting subset of rows and columns

In [17]:
df.loc['B','Y']

0.010864333019626842

In [18]:
df.loc[['A','B'],['W','Y']]

          W         Y
A -0.715736  0.189175
B  0.137751  0.010864

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy.

In [19]:
df

          W         X         Y         Z
A -0.715736  0.216925  0.189175  0.346535
B  0.137751  0.211191  0.010864  1.281956
C  0.747632 -0.188069 -0.404232  0.766014
D  0.228245 -0.257900 -0.561054 -0.776097
E  0.382309  0.684328 -0.749057 -0.375627

In [20]:
df>0

       W      X      Y      Z
A  False   True   True   True
B   True   True   True   True
C   True  False  False   True
D   True  False  False  False
E   True   True  False  False

In [21]:
df[df>0]

          W         X         Y         Z
A       NaN  0.216925  0.189175  0.346535
B  0.137751  0.211191  0.010864  1.281956
C  0.747632       NaN       NaN  0.766014
D  0.228245       NaN       NaN       NaN
E  0.382309  0.684328       NaN       NaN

In [22]:
df[df['W']>0]

          W         X         Y         Z
B  0.137751  0.211191  0.010864  1.281956
C  0.747632 -0.188069 -0.404232  0.766014
D  0.228245 -0.257900 -0.561054 -0.776097
E  0.382309  0.684328 -0.749057 -0.375627

In [23]:
df[df['W']>0]['Y']

B    0.010864
C   -0.404232
D   -0.561054
E   -0.749057
Name: Y, dtype: float64

In [24]:
df[df['W']>0][['Y','X']]

          Y         X
B  0.010864  0.211191
C -0.404232 -0.188069
D -0.561054 -0.257900
E -0.749057  0.684328

For two conditions you can use | and & with parenthesis:

In [25]:
df[(df['W']>0) & (df['Y'] > 0.5)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

### Operations

There are lots of operations with pandas that will be really useful to you, but don't fall into any distinct category. Let's show them here in this lecture:

In [26]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4,5,6],'col2':[444,555,666,444,777,888],'col3':['abc','def','ghi','xyz','ijk','lmn']})
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz
4     5   777  ijk
5     6   888  lmn

In [27]:
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz
4     5   777  ijk

### Unique Values

In [28]:
df['col2'].unique()

array([444, 555, 666, 777, 888])

In [29]:
df['col2'].nunique()

5

In [30]:
df['col2'].value_counts()

444    2
555    1
666    1
777    1
888    1
Name: col2, dtype: int64

### Selecting Data

In [31]:
#Select from DataFrame using criteria from multiple columns
newdf = df[(df['col1']>2) & (df['col2']==444)]
newdf

   col1  col2 col3
3     4   444  xyz

### Applying Functions

In [32]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz
4     5   777  ijk
5     6   888  lmn

In [33]:
def times_2(x):
    return x*2

In [34]:
df['col1'].apply(times_2)

0     2
1     4
2     6
3     8
4    10
5    12
Name: col1, dtype: int64

In [35]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
4    3
5    3
Name: col3, dtype: int64

In [36]:
df['col1'].sum()

21

### Permanently Removing a Column

In [37]:
del df['col1']

In [38]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz
4   777  ijk
5   888  lmn

### Get column and index names:

In [39]:
df.columns

Index(['col2', 'col3'], dtype='object')

In [40]:
df.index

RangeIndex(start=0, stop=6, step=1)

### Sorting and Ordering a DataFrame:

In [41]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz
4   777  ijk
5   888  lmn

In [42]:
df.sort_values(by='col2') #inplace=False by default

   col2 col3
0   444  abc
3   444  xyz
1   555  def
2   666  ghi
4   777  ijk
5   888  lmn